server {
    listen 127.0.0.1:4000;
    server_name _;
    root __VPS_APP_DIR__;
    index index.html;

    location / {
        add_header Cache-Control "no-cache";
        try_files $uri $uri/ $uri.html =404;
    }
}
